.rating {
    direction: rtl;
    display: inline-flex;
}

.rating input[type="radio"] {
    display: none;
}

.rating label {
    color: grey;
}

.rating input[type="radio"]:checked ~ label {
    color: gold;
}

.rating label:hover,
.rating label:hover ~ label {
    color: gold;
}
